@model PredavanjaDodavanjeIzmjenaViewModel

@{
    if (Model.Predavanje.Id == 0)
    {
        ViewData["Title"] = "Dodavanje predavanja";
    }
    else
    {
        ViewData["Title"] = "Izmjena predavanja";
    }

    ViewData["AktivniLink"] = NavigacijskiLinkovi.Predavanja;
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-highlighted">
        @Html.ValidationSummary()
    </div>
}

<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-controller="Predavanja" asp-action="Snimi" enctype="multipart/form-data">
    <input asp-for="Predavanje.Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Predavanje.Naziv">Naziv</label>
        <input asp-for="Predavanje.Naziv" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Predavanje.Opis">Opis</label>
        <textarea asp-for="Predavanje.Opis" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Predavanje.Datum">Datum održavanja</label>
        <input asp-for="Predavanje.Datum" type="date" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="Predavanje.KursId">Kurs</label>
        <select asp-for="Predavanje.KursId" asp-items="@(new SelectList(Model.Kursevi, nameof(Grad.Id), nameof(Grad.Naziv)))" class="form-control"></select>
    </div>

    @*<div class="form-group">
        <label asp-for="Predavanje.KorisnikId">Polaznici</label>


        <table class="table table-bordered">
            @for (var i = 0; i < Model.Polaznici.Count; i++)
            {
                <tr>
                    <td style="width:1px">
                        <label class="control outlined control-checkbox checkbox-primary">
                            <input type="hidden" asp-for="Polaznici[i].KorisnikId" />
                            <input type="hidden" asp-for="Polaznici[i].Ime" />
                            <input type="hidden" asp-for="Polaznici[i].Prezime" />
                            <input type="checkbox" asp-for="Polaznici[i].Odabran">
                            <div class="control-indicator"></div>
                        </label>
                    </td>
                    <td>@Model.Polaznici[i].Ime</td>
                    <td>@Model.Polaznici[i].Prezime</td>
                </tr>
            }
        </table>
    </div>*@

    <button type="submit" class="btn btn-primary">Spremi</button>
</form>