@model List<Drzava>

@{
    ViewData["Title"] = Resource.Drzave;
    ViewData["AktivniLink"] = NavigacijskiLinkovi.Drzave;
}
<flash dismissable="true" />

<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <a asp-controller="Drzave" asp-action="Dodavanje" class="btn btn-primary">@Resource.Dodaj</a>
    </div>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info alert-highlighted clearfix">
        <span>@Resource.NemaDrzava</span>
    </div>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Resource.Naziv
                </th>
                <th class="text-right">
                    @Resource.Akcija
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drzava in Model)
            {
                <tr>
                    <td>@drzava.Naziv</td>
                    <td class="text-right">
                        <a asp-controller="Drzave" asp-action="Izmjena" asp-route-id="@drzava.Id" class="btn btn-info btn-sm">@Resource.Izmijeni</a>
                        <a asp-controller="Drzave" asp-action="Izbrisi" asp-route-id="@drzava.Id" class="btn btn-danger btn-sm">@Resource.Obrisi</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}