@model List<TipObavijesti>

@{
    ViewData["Title"] = Resource.TipoviObavijesti;
    ViewData["AktivniLink"] = NavigacijskiLinkovi.TipoviObavijesti;
}

<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <a asp-controller="TipoviObavijesti" asp-action="Dodavanje" class="btn btn-primary">@Resource.Dodaj</a>
    </div>
</div>

@if (Model.Count == 0)
{
    <div class="alert alert-info alert-highlighted clearfix">
        <span>Nema tipova obavijesti za prikaz.</span>
    </div>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th class="text-right">
                    @Resource.Akcija
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipObavijesti in Model)
            {
                <tr>
                    <td>@tipObavijesti.Naziv</td>
                    <td class="text-right">
                        <a asp-controller="TipoviObavijesti" asp-action="Izmjena" asp-route-id="@tipObavijesti.Id" class="btn btn-info btn-sm">Izmijeni</a>
                        <a asp-controller="TipoviObavijesti" asp-action="Izbrisi" asp-route-id="@tipObavijesti.Id" class="btn btn-danger btn-sm">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}